
    
.search-div{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 7% 0 0 55%;
  padding : 30px;
  width: 40%;
  background-color:#2d343a;
  border: 1px solid black;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  height: 100px;
  border-radius: 10px;
  display: block;
  
}


.modal-content-button{
   float: right;
}
.suggested{
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(240, 236, 236);
}
.modal-content-btn{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1C2833;
}
  .search-div-input{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-link{
    text-decoration: none;
    color: rgb(43, 42, 42);
  }
  
  .search-button {
    width: 300px;
    height: 40px;
    padding-left: 3rem;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(48, 47, 47);
    background-color: #f2f2f2;
 
  }
  
  .suggested-searches {
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 6% 0 0 0;
    background-color: #1C2833;
    width: 100%;
    height: auto;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(48, 47, 47);


  }
  
  .suggested {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .search-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  
  .list-name {
    font-size: 16px;
    margin-bottom: 10px;
    list-style-type: none;

  }
  
  .recipe-span {
    text-decoration: none;
    color: rgb(240, 236, 236);
    cursor: pointer;
   
  }
  .recipe-span:hover {
    text-decoration: underline;
  }
  